html {
  height: 100%;
  width: 100%;
}

body {
  height: 95%;
  width: 100%;
  font-family: sans-serif;
}

.main-container {
  width: 75%;
  margin: 10px auto;
  background: rgba(255, 255, 255, 0.86);
  padding: 5px;
  border-radius: 10px;
}

.main-container h1 {
  text-align: center;
}

.text-box {
  margin: 0px auto;
  width: 40%;
}

p{
  text-align: left;
  margin: 3px 0;
  font-size: 17px;
}

.messages-container {
  height: 70vh;
  overflow: scroll;
  border: 1px solid black;
}

.single-message {
  height 30px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
}
.single-message p{
  margin-left: 30px;
}

.username {
  font-size: 10px;
  color: grey;
}
.create-time {
  width: 100%;
  height: 100%;
  text-align: right;
}
